<!DOCTYPE html>
<html>
 <a href='/home'>Home</a>
 <a href='/interaction'>Interaction</a>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>