<!DOCTYPE html>
<html>
 <a href='/<%=username%>/home'>Home</a>  
 <a href='/<%=username%>/interaction'>Interaction</a>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>