<% include simpleheader %>
<% include navbar %>

<div class="center">
	<center><h1>TWEETEE HELP</h1></center>
	<h2>Editing User Information</h2>
	<ul>
		<li class="question">Edit profile information</li>
		<p class="answer">You may change the following information by clicking on the Tools icon in the Navigation Bar and choosing Edit Profile:<br/>
			<ul>
				<li>Name</li>
				<li>Username</li>
				<li>Email</li>
				<li>Password</li>
				<li>Location</li>
				<li>Website</li>
				<li>Profile Picture</li>
			</ul>
		</p>
		<li class="question">Edit user settings</li>
		<p class="answer">You may change the following settings by clickin on the Tools icon in the Navigation Bar and choosing Edit Settings:<br/>
			<ul>
				<li>Tweets Visibility - make tweet visible to public, followers, or self</li>
				<li>Profile Visibility - make profile visible to public, followers, or self</li>
				<li>Follower Permission - allow anyone to follow you with or without your approval</li>
				<li>Mention Permission - allow your followers to mention you with or without your approval</li>
				<li>Private Messaging Permission - allow private messaging to public or just followers</li>
			</ul>
		</p>
		<li class="question">Profile picture settings</li>
		<p class="answer">Users may upload images up to 1MB in size of types .jpg and .png. Images will be displayed in 1:1 ratio.
		</p>
	</ul>

	<h2>Messaging</h2>
	<ul>
	  <li class="question">Posting a tweet</li>
	  <p class="answer">Users can post a tweet using the compose icon in the navigation bar or using the text boxes available in the site.
	  </p>
	  <li class="question">Replying to a tweet</li>
	  <p class="answer">To reply to a particular tweet, click on "Reply" found at the bottom of each tweet.
	  </p>
	  <li class="question">Retweeting</li>
	  <p class="answer">To retweet, click on "Retweet" found at the bottom of each tweet.
	  </p>
	  <li class="question">Mentioning another user</li>
	  <p class="answer">Users can mention another user by using the following format "@mentionuser" wherein mentionuser is the username of the Tweetee user s/he wants to mention.
	  </p>
	  <li class="question">Deleting a tweet</li>
	  <p class="answer">You may only delete a tweet that's yours. To delete a tweet, click on "Delete" at the bottom of each tweet.
	  </p>
	  <li class="question">Private messaging</li>
	  <p class="answer">Users can send private messages to each other. You can send private messages using the envelope icon found at the navigation bar. Note that you can only send usrs a private message if they allow you to.
	  </p>
	</ul>

	<h2>Interactions</h2>
	<ul>
	  <li class="question">Adding and deleting your Followers</li>
	  <p class="answer">When someone is "following" you, they become your "followers". They are subscribe to your tweets and Tweetee activity.<br>
	  You may add and delete Followers in your interaction page by clicking on the interaction (callout) icon at the navigation bar.
	  </p>
	  <li class="question">Adding and deleting who you're Following</li>
	  <p class="answer">When you are "following" a user, you are subscribed to his/her tweets and Tweetee activity.<br>
	  You may add and delete users you are following in your interaction page by clicking on the interaction (callout) icon at the navigation bar.
	  </p>
	</ul>
</div>
<% include footer %>